.breadcrumb {
    font-size: 14px;
    margin: 16px 0;

    a {
        color: #555;
        font-size: 18px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        color: #555;
    }
}