.top-selling-h2 {
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 1000;
        font-size: 48px;
        margin-top: 64px;
    }
}


.top-selling-btn {
    display: flex;
    justify-content: center;

    button {
        border: 1px solid rgb(180, 178, 178);
        background-color: inherit;
        width: 250px;
        padding: 10px 15px;
        border-radius: 20px;
    }
}