.brands-ad {
    background-color: black;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;

    p {
        align-items: center;
        font-size: 40px;
    }

    .versace {
        font-family: 'Times New Roman', sans-serif;
    }

    .zara {
        font-family: 'Bodoni';
    }

    .gucci {
        font-family: 'Rosarivo';
    }

    .parada {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .calvin {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}